body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Montserrat', sans-serif;
  font-family: 'Poppins', sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

::-webkit-scrollbar {
  width: 2px;
}

/* Track */

/* Handle */
::-webkit-scrollbar-thumb {
  /* background-image: linear-gradient(#212121, black);
  ba */
  background-color: black;
}

.css-1in596i-MuiButtonBase-root-MuiRadio-root.Mui-checked {
  color: #FEA013 !important;
}